.main {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@supports (-webkit-touch-callout: none) {
  .main {
    background-size: contain;
    background-repeat: repeat-y;
  }
}

.no_header {
  min-height: 100vh !important;
}

.burger_container {
  flex-direction: column;
  cursor: pointer;
}

.burger_container > i {
  background-color: var(--app-palette-color1-300);
  width: 26px;
  height: 3px;
  margin: 3px;
  border-radius: 2px;
  transition: all ease 0.5s;
}

.burger_container > .opened:nth-child(1) {
  transform: rotate(45deg) translateY(7px) translateX(6px);
}

.burger_container > .opened:nth-child(2) {
  opacity: 0;
}

.burger_container > .opened:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px) translateX(6px);
}

.burger_container > .closed:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.burger_container > .closed:nth-child(2) {
  opacity: 1;
}

.burger_container > .closed:nth-child(3) {
  transform: rotate(0) translateY(0);
}

