* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: transparent;
}

body {
  background: none !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body > div {
  overflow: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

