.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  min-height: calc(100vh - 60px);
  background-color: #eae5f5;
  color: "#4F4F4F";
}

.burger_container {
  flex-direction: column;
  cursor: pointer;
}

.burger_container > i {
  background-color: #4f4f4f;
  width: 26px;
  height: 3px;
  margin: 3px;
  border-radius: 2px;
  transition: all ease 0.5s;
}

.burger_container > .opened:nth-child(1) {
  transform: rotate(45deg) translateY(7px) translateX(6px);
}

.burger_container > .opened:nth-child(2) {
  opacity: 0;
}

.burger_container > .opened:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px) translateX(6px);
}

.burger_container > .closed:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.burger_container > .closed:nth-child(2) {
  opacity: 1;
}

.burger_container > .closed:nth-child(3) {
  transform: rotate(0) translateY(0);
}

@media screen and (max-width: 768px) {
  .main {
    padding: 32px 16px;
  }
}

