name: "Deploy Backend Lambda Functions"


on:
  workflow_run:
    workflows: ["Build Serverless Backend Lambda Functions"]
    types: [completed] 

  workflow_dispatch:
    inputs:
      version:
        type: string
        description: "Choose the version"
        required: true
        default: "dev"
      instance:
        type: choice
        description: "Choose the instance"
        required: true
        default: "dev"
        options:
          - dev
          - ua
          - preprod
          - prod

env:
  VERSION: dev
  INSTANCE: dev

permissions:
  id-token: write
  contents: read

jobs:
  getting-lambda-functions-names:
    name: Getting lambda functions names
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'  }}
    outputs:
      lambda-names: ${{ steps.lambda-names.outputs.names }}
    runs-on: ubuntu-latest
    steps:
      - name: Resolve variables
        shell: bash
        run: |
          INPUT_VERSION="${{ inputs.version || '' }}"
          INPUT_INSTANCE="${{ inputs.instance || '' }}"

          VERSION="${INPUT_VERSION:-dev}"
          INSTANCE="${INPUT_INSTANCE:-dev}"

          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "INSTANCE=$INSTANCE" >> "$GITHUB_ENV"

      - uses: actions/checkout@v6

      - name: Use resolved values (bash)
        run: |
          echo "VERSION=${{ env.VERSION }}"
          echo "INSTANCE=${{ env.INSTANCE }}"
      
      - name: Assuming federated role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_FED_ROLE_ARN }}
          role-session-name: Federal     

      - name:  Grubing functions names
        id: lambda-names
        run: |
          S3_ARRAY=()
          while read f; do
            NAME=$(basename "$f")
            S3_ARRAY+=("\"$NAME\"")
          done < <(aws s3 ls s3://${{ secrets.BUCKET_NAME }}/backend/${{ env.VERSION }}/ --recursive | awk '{print $4}')
          IFS=,
          JSON="[${S3_ARRAY[*]}]"
          echo "names=$JSON" >> $GITHUB_OUTPUT
          echo $JSON
  download-lambda-from-s3:
    name: Downloading Lambda from S3
    needs: getting-lambda-functions-names
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lambda: ${{ fromJSON(needs.getting-lambda-functions-names.outputs.lambda-names) }}
    steps:

      - name: Assuming federated role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_FED_ROLE_ARN }}
          role-session-name: Federal     

      - name: Create folder
        run: mkdir -p ./lambdas

      - name: Copy Lambda Function Zip from S3
        run: |
          echo "Downloading ${{ matrix.lambda }}..."
          aws s3 cp s3://${{ secrets.BUCKET_NAME }}/backend/${{ env.VERSION }}/${{ matrix.lambda }} ./lambdas/${{ matrix.lambda }}

      - name: Upload Lambda as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.lambda }}     
          path: ./lambdas/${{ matrix.lambda }} 